/*HEADER*/
body{
  font-family: Tahoma;
}

header {
 min-height: 300px;
}

.fon{
	background-color: #71ecbf;
}

.logo{
	margin-top: 50px;
}

.socicons {
	margin-top: 50px;
	display: flex;
	justify-content: space-around;
}

.socicons a {
	display: block;
	width: 70px;
	height: 90px;
	background-color: #7f958d;
	text-align: center;
	transition: all .500ms ease;
}

.socicons a:hover {
	opacity: .5;
}

.socicons a i.fab {
	color: black;
	font-size: 35px;
	line-height: 90px;
}
ul.menu {
	margin-top: 0;
	margin-top: 100px;
	padding: 0;
	display: flex;
	justify-content: space-around;
	list-style: none;
}
ul.menu li{
	background-color: #7f958d;
	height: 50px;
	width: 150px;
	text-align: center;
}
ul.menu li a {
	color: #000;
	font-size: 16px;
	line-height: 50px;
	transition: all .500ms ease;
}
ul.menu li a:hover{
	text-decoration: none;
	opacity: 0.5;
}
/*CONTENT*/
main {
	margin-top: 50px;
}
h1.article-title{
	text-align: center;
	font-size: 22px;
}
img {
	max-width: 100%;
	height: auto;
}
p.article-text {
	font-size: 14px;
}
a.readmore {
	display: block;
	width: 165px;
	height: 50px;
	background-color: #6f6dd4;
	color: #fff;
	text-align: center;
	line-height: 50px;
}
a.readmore:hover{
	text-decoration: none;
}
article {
	margin-top: 40px;
	border-bottom: 2px dashed #eee;
	padding-bottom: 10px;
}
article:first-child {
	margin-top: 0;
}

article:last-child {
	border-bottom:  none;
}
/*SIDEBAR*/
aside {
	background-color: #d13939;
	padding-top: 50px;
}
.widget {
	background-color: #6f6dd4;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 50px;
}
.widget:first-child{
	margin-top: 0;
}
h3.widget-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
}
ul.widget-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
ul.widget-list li {
	margin-top: 5px;
	position: relative;
}
ul.widget-list li::before {
	content: '\f02e';
	font-family: 'fontawesome';
	position: absolute;
	color: #fff;
	font-size: 14px;
	top: 3px;
	left: -15px;
}
ul.widget-list li a {
	color: #fff;
}
ul.widget-list li a:hover {
	text-decoration: none;
}

/